{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      Nom et Prénom : 
    </div>
    <div class="col-md-auto">
      {{ app.user.client.nom }} {{ app.user.client.prenom }}
    </div>
    <div class="col-lg-2">
       <button class="btn btn-primary">modifier</button>
    </div>
  </div>
</div>
{% endblock %}
