{% extends 'base.html.twig' %}

{% block title %}Adresse de livraison{% endblock %}

{% block body %}
    <h1>créer une Adresse de livraison</h1>

    {{ include('account/_formadresselivraison.html.twig') }}

    <a href="{{ path('account') }}">revenir au menu</a>
{% endblock %}
